<!DOCTYPE html>
<html lang="en">
<head>
    <title>Final</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/Headphone.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/matching.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
      <div class="dcard">
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        
    <div class="card">
  
        <p>looks like there</p>
        <p>is a mistake.</p>
        <p>can you please go back</p>
        <p>and check user names</p>
        

        <br>
        <br>
          <a class="btn" href="{{ url_for('landing') }}" >Go back to Home page</a>
          <br>      


    </div>

    </div>