<!DOCTYPE html>
<html lang="en">
<head>
    <title>Final</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/Headphone.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/matching.css">

</head>
<body>
      <div class="dcard">
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        <div class="trigger"></div>
        
    <div class="card">
  
        <p>Thank you for</p>
        <p>Using our client.</p>
        <p>you can go back to home</p>
        <p>and check other users</p>
        

        <br>
        <br>
          <a class="btn" href="{{ url_for('landing') }}" >Go back to Home page</a>

   


    </div>

    </div>
  






              
  
      
  
    
</body>
</html>